
body {
			margin-top: 2em;
	}

table {
	font-size: 1em;
}

ol {
	list-style-type: none;
}


.author > * {
	display: inline-block;
	vertical-align: top;
}

.author img {
	width: 2.5em;
	height: 2.5em;
	margin-right: 1em;
}

.results li {
	margin-top: 1em;
	margin-bottom: 4em;
}

.results .counter {
	font-size: 3em;
}

.stats {
	margin-top: 1em;
}

.results h2 {
	font-size: 2.5em;
	margin-bottom: 1em;
}

.headline {
	vertical-align: top;
}

.headline .counter {
	display: inline-block;
	margin-right: 0.25em;
}

.headline .title {
	display:inline-block;
	width: 80%;
}

.content {
	font-size: 1.25em;
}